mixin video(obj)
    div
        h4
            a(href=`/videos/${obj.id}`)=obj.title
        ul 
            li #{obj.rating}/5
            li #{obj.views} views 
            li Posted #{obj.createdAt}