extends base

block content
    if errorMessage
        p=errorMessage
    form(method="post")
        input(name="oldPassword", placeholder="Old Password", type="password")
        input(name="newPassword", placeholder="New Password", type="password")
        input(name="newPasswordConfirmation", placeholder="New Password Confirmation", type="password")
        input(value="Change Password", type="submit")