extends base

block content 
    h4 Change video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required, type="text")
        input(value="Save",type="submit")