extends base

block content
    if errorMessage 
        p=errorMessage
    form(method="POST")
        input(name="username", placeholder="Username",type="text", required)
        input(name="password", placeholder="Password", type="password", required)
        input(value="Login", type="submit")
        include partials/social-login
    div.auth-switch 
        span Don't have an account?
        a(href="/join")  Create one now &rarr;